 <div class="text"><%= HackumassWeb::Application::HACKATHON_NAME %> happens at Agganis Arena, Boston University.</div></p>
<p><div class="text">If you have any questions, ask us now at <%= HackumassWeb::Application::CONTACT_EMAIL %> </div></p>
<br>
<a href="https://goo.gl/maps/GPgaawt1eMWpdcXM6" target="_blank" class="btn btn-secondary">See Our Venue on Google Maps</a>