<div class="card">
    <div class="card-status bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Traveling 🚌</h3>
    </div>
    <div class="card-body d-flex flex-column">
        <h3>Bus Transportation Details</h3>
        <p></>
        <p><b>Drexel Bus</b></p>
        <p>Pickup: Jan 31, 10:30am, at 3125 John F Kennedy Blvd, Philadelphia PA 19104</p>
        <p>Drop off: 5:08pm Agganis Arena</p>
        <p><b>Princeton-Rutgers Bus</b></p>
        <p>Pickup: Jan 31, 4:30pm, 152 Alexander St Princeton NJ 08540</p>
        <p>Pit stop: 5:43pm, Rutgers Equine Science Center, New Brunswick NJ</p>
        <p>Drop off: 11:16pm, Agganis Arena</p>
        <p><b>New York Buses</b></p>
        <p>Pickup: Jan 31, 11:55am, Washington Sq Park (corner of Washington Sq N and Washington Sq E), NY</p>
        <p>Drop off: 5:33pm, Agganis Arena</p>
        <p></p>
        <p>All buses will leave Agganis Arena at 3:30 pm Feb 2. A bus captain will reach out to you soon for mroe details.</>
    </div>
</div>
